{
  "@context": "https://schema.org",
    "@type": "Article",
    "url": "{{ site.url }}{{ page.url }}",
    "about": [ {% include localbusiness.html %}, {%include person.html %} ],
    "hasPart": "{{ site.url }}/faq.html",
    "name": "{{page.title}}",
    "headline": "{{page.title}}",
    "image": {
     "@type": "ImageObject",
     "representativeOfPage": "true",
     "width": {
      "@type": "QuantitativeValue",
      "value": "1200",
      "unitCode": "E37"
      },
      "height": {
        "@type": "QuantitativeValue",
        "value": "800",
        "unitCode": "E37"
      },
      "caption": "{{page.title}}",
      "contentUrl": "{{site.url}}/assets/images/main/{{ page.featured_image}}",
      "url": "{{site.url}}/assets/images/main/{{ page.featured_image}}",
      "license": "http://creativecommons.org/licenses/by-nc-nd/4.0/",
      "acquireLicensePage": "https://denverprophit.us/terms.html"
    },
    "genre": "biography",
    "description": "{{page.excerpt | strip_newlines | strip | strip_html}}",
    "wordCount": "{{ page.content | number_of_words }}",
    "datePublished": "{{ page.date}}",
    "dateModified": "{{ page.last_modified_at | default: page.date}}",
    "license": "http://creativecommons.org/licenses/by-sa/4.0/",
    "author": { "@id": "#person" },
    "publisher": { "@id": "#publisher" },
{% include mainentity.html %}
}
